@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
/* font-family: 'Space Grotesk', sans-serif;  */
/* /////////////// font family    ///////////  */
* {
  padding: 0%;
  margin: 0%;
  font-family: "Space Grotesk", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #050a12;
}
/* helpper class  */
.mk-amsterdam {
  background-color: #050a12;
  max-width: 1920px;
  overflow: hidden;
}
.mk-bg-shadow {
  position: absolute;
  top: 0%;
  left: 0%; 
}
.mk-bg-shadow::before {
  content: "";
  width: 90vw; 
  background-image: radial-gradient(closest-side, #1477da36, #050a12);
  position: absolute;
}
.mk-section-padding{
padding-block: clamp(20px, 4vw, 40px);
}
.mk-top-border{
  border-top: 1px solid #ffffff38 !important;
}
.mk-bottom-border{
  border-bottom: 1px solid #ffffff38 !important;
}
/* //////////////////////////////////////////////////// */

/* ########
   START DESIGNING
######## */

/* ########
 SPACING  START
######## */
.mk-mb-lg {
  margin-bottom: clamp(70px, 9vw, 130px);
}
.mk-mb-md {
  margin-bottom: clamp(30px, 6vw, 90px);
}
.mk-mb-sm {
  margin-bottom: clamp(20px, 4vw, 60px);
}

/* ########
section devider START
######## */
.mk-section-devider {
  width: 80vw;
  max-width: 536px;
  min-width: 350px;
}

/* ########
HEADING FONT START
######## */
.mk-heading-4 {
  font-size: clamp(24px, 3vw, 59px);
}
.mk-heading-3 {
  font-size: clamp(26px, 3vw, 56px);
}
.mk-heading-4 {
  font-size: clamp(22px, 2vw, 40px);
}

/* ########
HEADING FONT END
######## */
/* /////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
///////////////////////////////////////////////// */

/* ///////////////// NAVIGATION  /////////////////  */
.mk-nav {
  max-width: 1460px;
  padding-inline: clamp(5px, 4vw, 45px);
  padding-block: clamp(10px, 2vw, 20px);
  margin-top: 24px;
  margin-inline: auto;
  border-radius: 12px;
  background-color: #ffffff1a;
}
@media (max-width: 1460px) {
  .mk-nav {
    margin-inline: 5px;
  }
}
.mk-nav .navbar-brand {
  max-width: clamp(130px, 14vw, 200px);
}
.mk-nav .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
  font-weight: 800;
}
.mk-nav .navbar-nav .nav-link {
  color: #ffffff;
  padding-inline: 25px;
  font-size: 18px;
  font-weight: 300;
}
.mk-nav .offcanvas-end {
  background-color: #050a12;
  border-left: 1px solid #1478da;
  border-bottom: 1px solid #1478da;
  border-bottom-left-radius: 50px;
}

/* NAVIGATION BAR BUGGER  */
.mk-nav .navbar-toggler:focus {
  box-shadow: none !important;
}
.mk-nav .navbar-toggler-icon {
  background-color: #fff;
  width: 30px;
  height: 1.5px;
  background-image: none;
  position: relative;
}
.mk-nav .navbar-toggler-icon::after,
.mk-nav .navbar-toggler-icon::before {
  content: "";
  background-color: #fff;
  height: 1.5px;
  position: absolute;
  transition: 0.7s;
}
.mk-nav .navbar-toggler:hover .navbar-toggler-icon::after,
.mk-nav .navbar-toggler:hover .navbar-toggler-icon::before {
  width: 30px;
}
.mk-nav .navbar-toggler:hover .navbar-toggler-icon::before {
  right: 0px;
}
.mk-nav .navbar-toggler-icon::after {
  width: 10px;
  top: 5px;
  right: 0px;
}
.mk-nav .navbar-toggler-icon::before {
  width: 10px;
  bottom: 5px;
  right: 20px;
}
.mk-nav .navbar .show {
  padding: 20px;
  height: 90vh;
  min-height: 700px;
}
@media (max-width: 420px){
  .mk-nav .navbar .show {
    width: 80vw;
  }
}
.mk-nav .navbar .show .btn-close {
  background-image: none;
  position: relative;
}
.mk-nav .navbar .show .btn-close:focus {
  box-shadow: none;
}
.mk-nav .navbar .show .btn-close::after,
.mk-nav .navbar .show .btn-close::before {
  content: "";
  background-color: #fff;
  width: 30px;
  height: 1px;
  position: absolute;
  right: 0px;
}
.mk-nav .navbar .show .btn-close::after {
  transform: rotate(45deg);
}
.mk-nav .navbar .show .btn-close::before {
  transform: rotate(-45deg);
}
/* //////////////// HERO SECTION ////////////////////////  */
.mk-hero-section {
  height: 80vh;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* bg top shadow  */
.mk-hero-section .mk-bg-shadow {
  top: -60%;
}
.mk-hero-content {
  max-width: 1198px;
  text-align: center;
  z-index: 1;
  padding: 0px 10px;
}
.mk-hero-title {
  font-size: clamp(30px, 7vw, 100px);
  margin-bottom: 62px;
} 
.mk-hero-btn .btn {
  margin: 0px 10px;
}
@media (max-width: 342px) {
  .mk-hero-btn .btn {
    margin-bottom: 15px;
  }
}
/* ANIMATION COINS  */
.mk-coins .coin-1 {
  top: 10%;
  left: 18%;
  max-width: 170px;
  animation-delay: 2s;
}
.mk-coins .coin-2 {
  bottom: 1%;
  left: 4%;
  max-width: 220px;
  animation-delay: 1s;
}
.mk-coins .coin-3 {
  bottom: 30%;
  right: 13%;
  max-width: 156px;
  animation-delay: 3s;
}
.mk-coins .coin-4 {
  top: 5%;
  right: 5%;
  max-width: 250px;
  animation-delay: 5s;
}
.mk-coins .coin-5 {
  bottom: 28%;
  right: 9%;
  max-width: 76px;
  animation-delay: 4s;
}
.mk-coins .coin-1,
.coin-2,
.coin-3,
.coin-4,
.coin-5 {
  animation: coins 6s linear infinite;
}
@keyframes coins {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* COINS RESPONSIVE  */
/* 576px  */
@media (max-width: 576px) {
  /* ANIMATION COINS  */
  .mk-coins .coin-1 {
    top: 40%;
    left: 3%;
    max-width: 160px;
  }
  .mk-coins .coin-2 {
    bottom: 11%;
    left: -1%;
    max-width: 120px;
  }
  .mk-coins .coin-3 {
    bottom: 20%;
    right: 5%;
    max-width: 119px;
  }
  .mk-coins .coin-4 {
    top: 25%;
    right: 0%;
    max-width: 220px;
  }
  .mk-coins .coin-5 {
    bottom: 15%;
    right: 2%;
    max-width: 63px;
  }
}
/* 420px  */
@media (max-width: 420px) {
  /* ANIMATION COINS  */
  .mk-coins .coin-1 {
    top: 35%;
    left: -5%;
  }
  .mk-coins .coin-2 {
    bottom: 11%;
    left: -1%;
  }
  .mk-coins .coin-3 {
    bottom: 27%;
    right: 13%;
  }
  .mk-coins .coin-4 {
    top: 5%;
    right: 0%;
  }
  .mk-coins .coin-5 {
    bottom: 30%;
    right: 5%;
    max-width: 50px;
  }
}
/* /////////////////////// WHALE STAKING STATS ///////////////// */
.mk-stats {
  padding: 0px 10px;
}
.mk-stats .mk-bg-shadow {
  left: 5%;
  top: -5%;
}
.mk-stats .mk-bg-shadow::before {
  background-image: radial-gradient(closest-side, #1477da1c, #050a122a);
}
.mk-stats-body {
  max-width: 1350px;
  display: grid;
  column-gap: 30px;
  row-gap: 27px;
  grid-template-columns: repeat(6, 1fr);
}
.mk-stats-cards {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ffffff2e;
}
.mk-stats-cards p,
small {
  color: #ffffffaf;
}
.mk-stats-cards p {
  font-size: clamp(12px, 2vw, 16px);
}
.mk-stats-card-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.mk-stats-card-2 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.mk-stats-card-3 {
  grid-column-start: 5;
  grid-column-end: 7;
}
.mk-stats-card-4 {
  grid-column-start: 3;
  grid-column-end: 7;
}
.mk-stats-card-5 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.mk-stats-card-6 {
  grid-column-start: 4;
  grid-column-end: 7;
}
/* responsive  */
@media (max-width: 998px) {
  .mk-stats-body {
    column-gap: 15px;
    row-gap: 12px;
  }
}
@media (max-width: 768px) {
  .mk-stats-body {
    grid-template-columns: repeat(4, 1fr);
  }
  .mk-stats-cards {
    padding: 15px 10px;
  }
  .mk-stats-card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .mk-stats-card-2 {
    grid-column-start: 3;
    grid-column-end: 6;
  }
  .mk-stats-card-3 {
    grid-column-start: 3;
    grid-column-end: 6;
  }
  .mk-stats-card-4 {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .mk-stats-card-5 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .mk-stats-card-6 {
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

/* //////////////// OUR MISSION ///////////////////  */
.mk-mission{
  background-color: #ffffff0a;
padding-top: clamp(10px, 3vw, 30px);
padding-bottom: clamp(10px, 3vw, 30px);
}
.mk-mission-body {
  max-width: 1350px;
  padding: 0px 20px;
}
.mk-mission-body p {
  font-size: clamp(16px, 2vw, 20px);
  color: #ffffffab;
}
.mk-mission-body-image {
  float: right;
  max-width: 660px;
  padding-left: clamp(0px, 6vw, 90px);
  padding-bottom: 20px;
}

/* responsive  */

@media (max-width: 1200px) {
  .mk-mission-body-image {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .mk-mission-body {
    padding: 0px 10px;
  }
  .mk-mission-body-image {
    width: 100%;
    padding: 0px 0px 20px 0px;
  }
}

/* //////////////////////// CALCULATOR SECTION  //////////// */

.mk-calculator-body {
  max-width: 1240px;
  border-radius: 16px;
  border: 1px solid #042443;
  padding: clamp(20px, 4vw, 65px);
  background-color: #1519214b !important;
}
.mk-calculator::before{
  content: "";
  background-image: radial-gradient(closest-side, #1477da36, #050a12);
  position: absolute;
  width: 90vw;
  height: 90vh;
}
.mk-calculator-body p {
  font-size: clamp(15px, 2vw, 20px);
}
.mk-calculator-inputs #select {
  background-color: transparent;
  border: none;
  border-left: 1px solid #ffffff2d;
  outline: none;
  color: #ffffff9a;
  font-size: clamp(18px, 3vw, 30px);
  padding:10px;
  cursor: pointer;
}
.mk-calculator-body #select:hover {
  color: #ffffff;
}
.mk-calculator-body #select option {
  color: #000;
  font-size: clamp(15px, 2vw, 20px);
}
.mk-calculator-inputs .selector-input{
  padding: 10px;
}
.mk-calculation {
  padding: 20px 0px;
  max-width: 970px;
}

.mk-calculator-inputs {
  border: 1px solid #ffffff2d;
  max-width: 460px;
  padding: 10px;
  border-radius: 10px;
  font-size: clamp(22px, 2vw, 40px);
}
.mk-calculator-inputs input {
  color: #fff;
  background: transparent;
  font-size: clamp(22px, 2vw, 40px);
  text-align: center;
  outline: none;
  border: none;
  font-weight: 400;
}
.mk-calculator-inputs input::-webkit-inner-spin-button,
.mk-calculator-inputs input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px;
} 
.mk-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: clamp(20px, 5vw, 32px );
  height: clamp(20px, 5vw, 32px );
  border: 6px solid #fff;
  background-color: #1478da;
  border-radius: 50%;
  cursor: pointer;
}
.mk-range input[type=range]{
  -webkit-appearance: none;
  height: clamp(10px, 2vw, 16px);
  background-color: #1478da;
  border-radius: 8px;
}
 @media (max-width:998px){
  .mk-range input[type=range]::-webkit-slider-thumb { 
    border: 4px solid #fff;
  }
  .mk-range input[type=range]{ 
    border-radius: 5px;
  }
 }
/* time daily monthly yearly   */
.mk-stake .fa-solid {
  color: #ffffff48;
  font-size: clamp(15px, 2vw, 20px);
  cursor: pointer;
}
.mk-stake .fa-solid:hover{
  color: #fff;
}
.mk-table {
  border-top: 1px solid #ffffff21;
  padding-top: clamp(10px, 4vw, 50px);
}
.mk-table .mk-daily,
.mk-monthly {
  margin-bottom: clamp(20px, 5vw, 50px);
}
.mk-table h6 {
  font-size: clamp(18px, 2vw, 25px);
}
/* //////////////////////// FAQS SECTION  //////////////////////////// */

.mk-faq {
  padding: 40px 10px 10px 10px;
}
.mk-faq::before{
  content: "";
  background-image: radial-gradient(closest-side, #1477da36, #050a12);
  position: absolute;
  width: 90vw;
  height: 90vh;
}
.mk-faq-container {
  max-width: 900px;
}
.mk-faq-header {
  margin-bottom: 60px;
}

.mk-faq-accordion .accordion-item,
.accordion-button {
  background-color: #1519212c !important;
}
.mk-faq-accordion .accordion-item {
  border-radius: 8px;
  padding: 10px 20px;
  border: 1px solid #ffffff38;
}
.faq-active{
  border-color:#1477da80 !important;
} 
.mk-faq-accordion .accordion-button {
  font-size: clamp(20px, 2vw, 24px);
}
.mk-faq-accordion .accordion-body {
  font-size: clamp(16px, 2vw, 20px);
}
.mk-faq-accordion .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.mk-faq-accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
  border-bottom: 1px solid #476b8f8f;
}
.mk-faq-accordion .accordion-body {
  padding-left: 57px !important;
  color: #ffffffad;
}
.mk-faq-accordion .accordion-button::after {
  background-image: url("../icons/icon-plus.svg");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../icons/minus.png");
}

/* responsive  */

/* MAXIMUM WIDTH 768 PX  */
@media (max-width: 768px) {
  .mk-faq {
    padding: 30px 10px 10px 10px;
  }
  .mk-faq-header {
    margin-bottom: 30px;
  }
  .mk-faq-accordion .accordion-item {
    padding: 5px;
  }
  .mk-faq-accordion .accordion-button {
    padding: 10px;
  }
  .mk-faq-accordion .accordion-body {
    font-size: clamp(16px, 2vw, 20px);
  }
  .mk-faq-accordion .accordion-body {
    padding: 10px !important;
  }
}
/* MAXIMUM WIDTH 998 PX  */
@media (min-width: 998px) {
  .mk-faq-accordion .accordion-body {
    padding-left: 90px !important;
  }
} 
/* ################################## MK FOLLOW OUR UPDATES SECTION ###########################  */
.mk-follow .mk-follow-container {
  border: 1px solid #ffffff3a;
  border-radius: 12px;
  background-color: #ffffff10;
  padding: 90px 45px;
}

.mk-follow-title {
  max-width: 682px;
}
.mk-follow-title h2 {
  font-size: clamp(30px, 10vw, 100px);
  text-align: left;
}
.mk-follow-btns {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mk-follow-btns .btn {
  font-size: 19px;
  text-wrap: nowrap;
}
@media (max-width: 998px) {
  .mk-follow .mk-follow-container {
    padding: 50px 25px;
  }
  .mk-follow-title {
    max-width: 100%;
  }
  .mk-follow-title h2 {
    text-align: center;
  }
  .mk-follow-btns {
    text-align: center;
  }
  .mk-follow-btns {
    align-items: center;
  }
  .mk-follow-btns .btn {
    font-size: 16px;
    text-wrap: nowrap;
  }
}
/* ################################## MK FOOTER SECTION ###########################  */
.mk-footer {
  border-top: 1px solid #1477da63;
  overflow: hidden;
}
.mk-footer::before{
  content: "";
  background-image: radial-gradient(closest-side, #1477da36, #050a12);
  position: absolute;
  width: 90vw;
  height: 90vh;
}
.mk-footer-content {
  max-width: 660px;
  padding: 50px 0px 20px 0px;
}
.mk-footer-content p {
  font-size: 14px;
}
.mk-footer-logo {
  width: 214px;
}
.mk-footer-social-icons { 
  padding-top: clamp(30px, 4vw, 40px);
  padding-bottom: clamp(10px, 2vw, 20px);
  display: flex;
  justify-content: center;
}
.mk-footer-social-icons .icon { 
  border-radius: 50%;
  background-color: #ffffff10;
  margin: 5px;
  width: clamp(40px, 5vw,50px) ;
  height: clamp(40px, 5vw,50px) ; 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .mk-footer-social-icons .icon .fa-facebook-f{
  padding: 15px 15px;
} */
.mk-footer-social-icons .fa-brands {
  color: #fff;
  font-size: clamp(15px, 2vw, 20px);
  transition: all ease-in-out 0.5s;
}
.mk-footer-social-icons .icon:hover {
  background-color: #0359cc;
}
.mk-footer-social-icons .icon:hover .fa-brands {
  transform: translateY(-12px);
}
.mk-footer-container {
  border-bottom: 1px solid #ffffff44;
}
